.App {
  text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');


body {
  margin: 0;
  font-family: 'Charm', cursive;
  background: rgb(3,152,158);
  background: linear-gradient(90deg, rgba(3,152,158,1) -24%, rgba(150,122,220,1) 73%);
}

.pagecontainer {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  padding: 20px 100px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 0 20px;
  font-size: 26px;
}


/* .socialbar li { */

button {
  border: 1px solid #03989e;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 130px;
} 


h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 22px;
  text-shadow: 5px 5px 10px #aab2bd;
}

.fa {
  padding: 10px;
  font-size: 20px;
}


.navbar li, .socialbar li {
  display: inline-block;
  padding: 0 20px;
  font-size: 26px;
}


.separator {
  border: none;
  border-top: 3px solid #03989e; 
  width: 95%;
}

.socialbar ul li a {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #967adc;
}

.socialbar ul li a:visited {
  color: #967adc;
}


.mywordcard {
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.myworkcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mywordcard {
  width: 320px;
  border: 3px solid #03989e;
  border-radius: 10px;
  list-style-type: none;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px 10px #aab2bd;
}

.myworkimg {
  width: 320px;
  height: 150px;
  border-radius: 10px;
}

.myblogcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.myblogcard {
  width: 320px;
  border: 3px solid #967adc;
  border-radius: 10px;
  list-style-type: none;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px 10px #aab2bd;
}

.myblogimg {
  width: 320px;
  height: 150px;
  border-radius: 10px;
}

#footer {
  text-align: center;
}

