.App {
  text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');


body {
  margin: 0;
  font-family: 'Charm', cursive;
  background: rgb(3,152,158);
  background: linear-gradient(90deg, rgba(3,152,158,1) -24%, rgba(150,122,220,1) 73%);
}

.pagecontainer {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  padding: 20px 100px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 0 20px;
  font-size: 26px;
}


.socialbar li {
  display: inline-block;
  padding: 0 20px;
  font-size: 26px;
}


.separator {
  border: none;
  border-top: 3px solid #03989e; 
  width: 95%;
}

.socialbar ul li a {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #967adc;
}

.socialbar ul li a:visited {
  color: #967adc;
}


.mywordcard {
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

#footer {
  text-align: center;
}

