.App {
  text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');


body {
  margin: 0;
  font-family: 'Charm', cursive;
}

.navbar li, .socialbar li {
  display: inline-block;
  padding: 0 20px;
  font-size: 26px;
}

#footer {
  text-align: center;
}

